USE [master]
GO
/****** Object:  Database [DbLeonCoreTest]    Script Date: 6/18/2018 6:47:58 PM ******/
CREATE DATABASE [DbLeonCoreTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbLeonCoreTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DbLeonCoreTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbLeonCoreTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DbLeonCoreTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbLeonCoreTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbLeonCoreTest]
GO
USE [DbLeonCoreTest]
GO
/****** Object:  Table [dbo].[Buckets]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buckets](
	[BucketId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[OrderInVertical] [float] NULL,
 CONSTRAINT [PK_Buckets] PRIMARY KEY CLUSTERED 
(
	[BucketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamDetails]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamSessonId] [int] NULL,
	[UniqueId] [nvarchar](max) NULL,
	[Createdate] [date] NULL,
	[Createtime] [time](7) NULL,
	[Startdate] [date] NULL,
	[Starttime] [time](7) NULL,
	[Enddate] [date] NULL,
	[Endtime] [time](7) NULL,
	[Status] [bit] NULL,
	[Ipaddress] [varchar](100) NULL,
	[FileName] [nvarchar](max) NULL,
	[ExamStatusId] [int] NULL,
	[IsDeleted] [bit] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Examdetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuestionAnswer]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuestionAnswer](
	[AnswerId] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionId] [bigint] NULL,
	[Answer] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[ExamDetailId] [int] NULL,
 CONSTRAINT [PK_ExamQuestionAnswer] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuestions]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuestions](
	[QuestionId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamId] [bigint] NULL,
	[Question] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_ExamQuestions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[TestId] [bigint] IDENTITY(1,1) NOT NULL,
	[TestTitle] [nvarchar](200) NULL,
	[CreatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsAttachmentRequired] [bit] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamSessions]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [varchar](50) NULL,
	[Lastname] [varchar](50) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[Notes] [nvarchar](max) NULL,
	[SessionCounts] [int] NULL,
	[Createdate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
	[SourceId] [int] NULL,
	[TestId] [bigint] NULL,
 CONSTRAINT [PK_tb_ExamSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamStatuses]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemTitle] [varchar](100) NULL,
	[Type] [varchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Priority] [float] NULL,
	[Version] [float] NULL,
	[MockUpLink] [nvarchar](max) NULL,
	[BucketId] [int] NULL,
	[OrderInLane] [float] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sources]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 6/18/2018 6:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[Id] [bigint] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Gender] [varchar](50) NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buckets] ON 

INSERT [dbo].[Buckets] ([BucketId], [Description], [OrderInVertical]) VALUES (1, N'Additional Services', NULL)
INSERT [dbo].[Buckets] ([BucketId], [Description], [OrderInVertical]) VALUES (2, N'Audit Trail', NULL)
INSERT [dbo].[Buckets] ([BucketId], [Description], [OrderInVertical]) VALUES (3, N'Booking Engine', NULL)
SET IDENTITY_INSERT [dbo].[Buckets] OFF
SET IDENTITY_INSERT [dbo].[ExamDetails] ON 

INSERT [dbo].[ExamDetails] ([Id], [ExamSessonId], [UniqueId], [Createdate], [Createtime], [Startdate], [Starttime], [Enddate], [Endtime], [Status], [Ipaddress], [FileName], [ExamStatusId], [IsDeleted], [LastUpdatedOn], [LastUpdatedBy]) VALUES (3, 30, N'65dcf4f4-1786-4a12-b5e3-0102510b2d3f', CAST(N'2018-03-14' AS Date), CAST(N'16:13:42.5606714' AS Time), CAST(N'2018-03-14' AS Date), CAST(N'16:32:24.4266847' AS Time), CAST(N'2018-03-14' AS Date), CAST(N'17:41:42.2607328' AS Time), 0, N'::1', N'Manjinder-Singh_31ca38e3-a885-42bc-9117-bd578a1a57c4.txt', 3, NULL, NULL, NULL)
INSERT [dbo].[ExamDetails] ([Id], [ExamSessonId], [UniqueId], [Createdate], [Createtime], [Startdate], [Starttime], [Enddate], [Endtime], [Status], [Ipaddress], [FileName], [ExamStatusId], [IsDeleted], [LastUpdatedOn], [LastUpdatedBy]) VALUES (7, 41, N'b59aba24-de64-45ab-97b4-e499c3905852', CAST(N'2018-03-14' AS Date), CAST(N'16:13:42.5606714' AS Time), CAST(N'2018-03-14' AS Date), CAST(N'16:32:24.4266847' AS Time), CAST(N'2018-03-14' AS Date), CAST(N'17:41:42.2607328' AS Time), 1, N'10.91.0.254', N'Singh-test_7ddf0435-53ef-48c2-868a-166212d0577e.txt', 3, NULL, NULL, NULL)
INSERT [dbo].[ExamDetails] ([Id], [ExamSessonId], [UniqueId], [Createdate], [Createtime], [Startdate], [Starttime], [Enddate], [Endtime], [Status], [Ipaddress], [FileName], [ExamStatusId], [IsDeleted], [LastUpdatedOn], [LastUpdatedBy]) VALUES (9, 51, N'aef47ae6-afef-4e06-bc70-b70402cfde70', CAST(N'2018-03-15' AS Date), CAST(N'11:58:02.3661361' AS Time), CAST(N'2018-05-01' AS Date), CAST(N'18:56:02.6129943' AS Time), NULL, NULL, 0, N'::1', NULL, 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ExamDetails] OFF
SET IDENTITY_INSERT [dbo].[ExamQuestionAnswer] ON 

SET IDENTITY_INSERT [dbo].[ExamQuestionAnswer] OFF
SET IDENTITY_INSERT [dbo].[ExamQuestions] ON 

SET IDENTITY_INSERT [dbo].[ExamQuestions] OFF
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([TestId], [TestTitle], [CreatedOn], [IsActive], [IsAttachmentRequired], [LastUpdatedOn], [LastUpdatedBy]) VALUES (5, N'C# Logical Question Test', CAST(N'2018-03-28T19:01:24.087' AS DateTime), 1, 1, CAST(N'2018-05-04T14:07:13.260' AS DateTime), N'bagga@varinder.onmicrosoft.com')
INSERT [dbo].[Exams] ([TestId], [TestTitle], [CreatedOn], [IsActive], [IsAttachmentRequired], [LastUpdatedOn], [LastUpdatedBy]) VALUES (6, N'c# logical programs for interview', CAST(N'2018-03-28T19:42:28.527' AS DateTime), 1, 0, NULL, NULL)
INSERT [dbo].[Exams] ([TestId], [TestTitle], [CreatedOn], [IsActive], [IsAttachmentRequired], [LastUpdatedOn], [LastUpdatedBy]) VALUES (10008, N'API Test Sample', CAST(N'2018-04-12T15:12:04.977' AS DateTime), 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Exams] OFF
SET IDENTITY_INSERT [dbo].[ExamSessions] ON 

INSERT [dbo].[ExamSessions] ([Id], [Firstname], [Lastname], [EmailAddress], [Notes], [SessionCounts], [Createdate], [Modifydate], [SourceId], [TestId]) VALUES (23, N'Manjinder', N'eg', N'Manpreet.impinge@gmail.com', N'gjfgj ', 2, CAST(N'2018-02-22T21:19:10.427' AS DateTime), CAST(N'2018-03-08T16:43:23.927' AS DateTime), NULL, NULL)
INSERT [dbo].[ExamSessions] ([Id], [Firstname], [Lastname], [EmailAddress], [Notes], [SessionCounts], [Createdate], [Modifydate], [SourceId], [TestId]) VALUES (25, N'Firstname', N'Singh', N'brent.campbell@customlifebudget.com', N'I get the webpage can not be found ', NULL, CAST(N'2018-02-22T21:27:16.883' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ExamSessions] ([Id], [Firstname], [Lastname], [EmailAddress], [Notes], [SessionCounts], [Createdate], [Modifydate], [SourceId], [TestId]) VALUES (26, N'Firstname', N'Singh', N'whitniehawk@gmail.com', N'this just once you done with all the classes let me see them please, I want to make sure I am not missing anything or that we don''t have anything extra that is not needed', NULL, CAST(N'2018-02-22T22:17:11.137' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ExamSessions] OFF
SET IDENTITY_INSERT [dbo].[ExamStatuses] ON 

INSERT [dbo].[ExamStatuses] ([Id], [Name], [IsActive]) VALUES (1, N'Pending', 1)
INSERT [dbo].[ExamStatuses] ([Id], [Name], [IsActive]) VALUES (2, N'Request Onsite', 1)
INSERT [dbo].[ExamStatuses] ([Id], [Name], [IsActive]) VALUES (3, N'Hired', 1)
SET IDENTITY_INSERT [dbo].[ExamStatuses] OFF
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemId], [ItemTitle], [Type], [Description], [Priority], [Version], [MockUpLink], [BucketId], [OrderInLane]) VALUES (2, N'Test', N'default', N'test description', 1, 1, N'testlink', 3, 1.2)
SET IDENTITY_INSERT [dbo].[Items] OFF
SET IDENTITY_INSERT [dbo].[Sources] ON 

INSERT [dbo].[Sources] ([Id], [Name]) VALUES (1, N'Upwork')
INSERT [dbo].[Sources] ([Id], [Name]) VALUES (2, N'Referral')
INSERT [dbo].[Sources] ([Id], [Name]) VALUES (3, N'LinkedIn')
SET IDENTITY_INSERT [dbo].[Sources] OFF
INSERT [dbo].[UserProfile] ([Id], [FirstName], [LastName], [Email], [Gender]) VALUES (1500323313409825, N'Manjinder', N'Singh', N'manjinder.impinge@gmail.com', N'male')
INSERT [dbo].[UserProfile] ([Id], [FirstName], [LastName], [Email], [Gender]) VALUES (1500323334409825, N'Manpreet', N'singh', N'fsdfsfsdfsd', N'male')
INSERT [dbo].[UserProfile] ([Id], [FirstName], [LastName], [Email], [Gender]) VALUES (2723734210045720, N'Varinder Bagga', N'', N'bagga@varinder.onmicrosoft.com', N'male')
ALTER TABLE [dbo].[ExamDetails]  WITH CHECK ADD  CONSTRAINT [FK_ExamStatusId_ExamStatuses] FOREIGN KEY([ExamStatusId])
REFERENCES [dbo].[ExamStatuses] ([Id])
GO
ALTER TABLE [dbo].[ExamDetails] CHECK CONSTRAINT [FK_ExamStatusId_ExamStatuses]
GO
ALTER TABLE [dbo].[ExamDetails]  WITH CHECK ADD  CONSTRAINT [FK_tb_ExamDetails_tb_ExamSession] FOREIGN KEY([ExamSessonId])
REFERENCES [dbo].[ExamSessions] ([Id])
GO
ALTER TABLE [dbo].[ExamDetails] CHECK CONSTRAINT [FK_tb_ExamDetails_tb_ExamSession]
GO
ALTER TABLE [dbo].[ExamQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_ExamQuestionAnswer_ExamQuestionAnswer] FOREIGN KEY([ExamDetailId])
REFERENCES [dbo].[ExamDetails] ([Id])
GO
ALTER TABLE [dbo].[ExamQuestionAnswer] CHECK CONSTRAINT [FK_ExamQuestionAnswer_ExamQuestionAnswer]
GO
ALTER TABLE [dbo].[ExamQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_ExamQuestionAnswer_ExamQuestions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[ExamQuestions] ([QuestionId])
GO
ALTER TABLE [dbo].[ExamQuestionAnswer] CHECK CONSTRAINT [FK_ExamQuestionAnswer_ExamQuestions]
GO
ALTER TABLE [dbo].[ExamQuestions]  WITH CHECK ADD  CONSTRAINT [FK_ExamQuestions_Exams] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([TestId])
GO
ALTER TABLE [dbo].[ExamQuestions] CHECK CONSTRAINT [FK_ExamQuestions_Exams]
GO
ALTER TABLE [dbo].[ExamSessions]  WITH CHECK ADD  CONSTRAINT [FK_ExamId_Exams] FOREIGN KEY([TestId])
REFERENCES [dbo].[Exams] ([TestId])
GO
ALTER TABLE [dbo].[ExamSessions] CHECK CONSTRAINT [FK_ExamId_Exams]
GO
ALTER TABLE [dbo].[ExamSessions]  WITH CHECK ADD  CONSTRAINT [FK_SourceId_Sources] FOREIGN KEY([SourceId])
REFERENCES [dbo].[Sources] ([Id])
GO
ALTER TABLE [dbo].[ExamSessions] CHECK CONSTRAINT [FK_SourceId_Sources]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Items] FOREIGN KEY([BucketId])
REFERENCES [dbo].[Buckets] ([BucketId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Items]
GO
USE [master]
GO
